<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>{% block title %}{% endblock %} - Finmanager</title>

  <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}" />
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

	{% block scripts %}
	{% endblock %}

  <style>
    .topnav{
      background-color: #0d6efd;
      overflow: hidden;
    }
    .utilities {
        background-color: #f1f3f5;
        padding: 15px;
        height: 100vh;
    }
    .calculator input[type="button"]{
      border-radius: 5px;
      width: 100%;
    }
  </style>

  <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
  <script>eruda.init();</script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  <script>
    window.onload = function() {
      var expChart = document.getElementById('chartExpContainer').getContext('2d');
      window.expChartPie = new Chart(expChart, {
        type: 'pie',
        data: {
          datasets: [{
            label: 'Expenses by categories',
            backgroundColor: {{expCatsColors|safe}},
            data: {{expCatsVals|safe}}
          }],
          labels: {{expCatsLabels|safe}},
        },
        options: {responsive: true}
      });

      var incChart = document.getElementById('chartIncContainer').getContext('2d');
      window.incChartPie = new Chart(incChart,{
        type: 'pie',
        data: {
          datasets: [{
            label: 'Incomes by categories',
            backgroundColor: {{incCatsColors|safe}},
            data: {{incCatsVals|safe}}
          }],
          labels: {{incCatsLabels|safe}},
        },
        options: {responsive: true}
      });
    };
    
    // Adds char to calculator input prompt
    function calcInput(char){
      let prompt = document.getElementById("prompt");
      prompt.value += char;
    }

    // Calculates the result for calc prompt input
    function calculate(){

    }
  </script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
        {% block top_nav %}

      <div id="topnav" class="topnav">
        <div class="btn-group">
          <a class="btn btn-primary" href="{%url 'index'%}">Home</a>
          <a class="btn btn-primary" href="{%url 'transactions'%}">Transactions</a>
          <a class="btn btn-primary" href="{%url 'categories'%}">Categories</a>
          <a class="btn btn-primary" href="{%url 'accounts'%}">Accounts</a>
        </div>
      </div>

        {% endblock %}
    
      <main class="col-md-10">
        {% block content %}
        {% endblock %}
      </main>

      <aside class="col-md-2 utilities">
            <h5>Quick Actions</h5>
            {% block right_utilities %}{% endblock %}
            <hr>

            <h6>Stats</h6>
            <p>Current balance: {{allMoney|floatformat:"-2"}}</p>
            <p>Expenses this month: {{totalExp|floatformat:"-2"}}</p>
            <p>Incomes this month: {{totalInc|floatformat:"-2"}}</p>
            <canvas id="chartExpContainer"></canvas>
            <canvas id="chartIncContainer"></canvas>
            <h6>Calculator</h6>
            <div>
              <table class="calculator">
                <tr>
                  <td colspan="3"><input type="text" id="prompt"></td>
                  <td><input type="button" class="btn-primary" value="Hi"></td>
                </tr>
                <tr>
                  <td><input type="button" class="btn-primary" value="1" onclick="calcInput('1')"></td>
                  <td><input type="button" class="btn-primary" value="2" onclick="calcInput('2')"></td>
                  <td><input type="button" class="btn-primary" value="3" onclick="calcInput('3')"></td>
                  <td><input type="button" class="btn-primary" value="/" onclick="calcInput('/')"></td>
                </tr>
                <tr>
                  <td><input type="button" class="btn-primary" value="4" onclick="calcInput('4')"></td>
                  <td><input type="button" class="btn-primary" value="5" onclick="calcInput('5')"></td>
                  <td><input type="button" class="btn-primary" value="6" onclick="calcInput('6')"></td>
                  <td><input type="button" class="btn-primary" value="*" onclick="calcInput('*')"></td>
                </tr>
                <tr>
                  <td><input type="button" class="btn-primary" value="7" onclick="calcInput('7')"></td>
                  <td><input type="button" class="btn-primary" value="8" onclick="calcInput('8')"></td>
                  <td><input type="button" class="btn-primary" value="9" onclick="calcInput('9')"></td>
                  <td><input type="button" class="btn-primary" value="-" onclick="calcInput('-')"></td>
                </tr>
                <tr>
                  <td><input type="button" class="btn-primary" value="0" onclick="calcInput('0')"></td>
                  <td><input type="button" class="btn-primary" value="." onclick="calcInput('.')"></td>
                  <td><input type="button" class="btn-primary" value="=" onclick="calculate()"></td>
                  <td><input type="button" class="btn-primary" value="+" onclick="calcInput('+')"></td>
                </tr>

              </table>
            </div>
      </aside>
    </div>
  </div>
</body>
</html>
